.App {
  background-color: #d9c5ea;
  display: flex;
  flex-direction: column;
}

.App-Section {
  background-color: #ffffff;
  margin: 20px;
  border-radius: 20px;
}

.App-Container {
  padding: 30px;
  display: flex;
  flex-direction: row;
}

.App-Container > h3 {
  margin-block-start: auto;
}

.App-Container-SideMenu {
  flex: 1;
}

.App-Container-Content {
  flex: 3;
}
